<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="poke_api" translate="label" sortOrder="100">
            <label>Poke API</label>
        </tab>
        <section id="poke_api" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Poke API Configuration</label>
            <tab>poke_api</tab>
            <resource>Poke_Pokemon::pokemon_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="api_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API URL</label>
                    <validate>required-entry validate-url</validate>
                    <comment>Provide full API Path - for example https://pokeapi.co/api/v2/</comment>
                </field>
            </group>
        </section>
        <section id="pokemon_details" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pokemon Details</label>
            <tab>poke_api</tab>
            <resource>Poke_Pokemon::pokemon_config</resource>
            <group id="details" translate="label" type="array" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Details Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Pokemon on the storefront</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cache_lifetime" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache Lifetime</label>
                    <comment>Cache lifetime in seconds.</comment>
                    <validate>validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
